.text-error {
    color: $errColor;
}
.text-center{
    text-align: center;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}