<div class="card-list">
  <nz-card nzNoHovering>
    <ng-template #title>
      {{stockChartTitle}}
    </ng-template>
    <ng-template #body>
      <div id="container0" class="container">
      </div>
    </ng-template>
  </nz-card>
</div>
<div class="card-list">
  <nz-card nzNoHovering>
    <ng-template #title>
      507 人按性别划分的身高和体重分布图
    </ng-template>
    <ng-template #body>
      <div id="container2" class="container">
      </div>
    </ng-template>
  </nz-card>
</div>
<div class="card-list">
    <nz-card nzNoHovering>
      <ng-template #title>
        浏览器占比
      </ng-template>
      <ng-template #body>
        <div id="container1" class="container">
        </div>
      </ng-template>
    </nz-card>
  </div>