
<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" 
    [(ngModel)]="desc" 
    (keyup.enter)="addTodo()">
  </header>
  <app-todo-list 
    [todos]="todos" 
    (onRemoveTodo)="removeTodo($event)"
    (onToggleTodo)="toggleTodo($event)"></app-todo-list>
  <footer class="footer">
    <span class="todo-count">
      <strong>{{todos?.length}}</strong> {{todos?.length == 1 ? 'item' : 'items'}} left
    </span>
    <ul class="filters">
      <li><a [routerLink]="['/dashboard/todo/all']">All</a></li>
      <li><a [routerLink]="['/dashboard/todo/active']">Active</a></li>
      <li><a [routerLink]="['/dashboard/todo/completed']">Completed</a></li>
    </ul>
    <button *ngIf="todos?.length > 0" 
      class="clear-completed"
      (click)="clearCompleted(todos)">Clear completed</button>
  </footer>
</section>